<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CerealPlayer.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <CerealPlayer.Properties.Settings>
      <setting name="MaxDownloads" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MaxAdvanceDownloads" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DeleteAfterWatch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DownloadSpeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HidePlaybarTime" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MaxChromiumInstances" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="PreferredHoster" serializeAs="String">
        <value />
      </setting>
      <setting name="RewindOnPlaylistChangeTime" serializeAs="String">
        <value>5</value>
      </setting>
    </CerealPlayer.Properties.Settings>
  </userSettings>
</configuration>